ip.r4bbit.net {
	reverse_proxy localhost:8080
}

ipv4.r4bbit.net ipv6.r4bbit.net {
	@json path /json
	handle @json {
		reverse_proxy localhost:8080
	}
	handle {
		redir https://ip.r4bbit.net{uri} 302
	}
}
